body {
    font-family: Libre Franklin, Helvetica Neue, helvetica, arial, sans-serif;
    background-color: rgb(50, 50, 50);
    color: white;
}
.header ul {
    list-style-type: none;
    overflow: hidden;
}
.header li {
    float: left;
}
.header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.header li a:hover {
    color: green;
}
.header {
    border-bottom: solid 1px gray;
    margin-bottom: 15px;
}
.main {
    display: flex;
    border-bottom: solid 1px gray;
    margin-bottom: 15px;
}
.headshot {
    width: 35%;
    border-radius: 50%;
}
.main a {
    text-decoration: none;
    color: white;
}
.main a:hover {
    color: green;
}
.mail {
    margin-left: 5px;
    width: 8%;
}
.github {
    margin-left: 5px;
    margin-right: 2px;
    width: 8%;
}
.linkedin {
    margin-right: 5px;
    width: 8%;
    border-radius: 10%;
}
.left {
    width: 50%;
    text-align: center;
}
.right {
    display: block;
    width: 50%;
    margin-right: 30px;
}
.bottom_right {
    display: flex;
}
.interests {
    width: 50%;
}
.education {
    width: 50%;
}
.college {
    margin-top: 3px;
    margin-left: 8px;
    font-size: 9pt;
}
.reference a {
    margin-top: 0;
    text-decoration: none;
    color: white;
}
.reference a:hover {
    color: green;
}
.research {
    border-bottom: solid 1px gray;
    padding-bottom: 15px;
}